html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*----- custom css----- */

/* ----------- Body Styles --------------- */

body {

	font-family:'Libre Baskerville', serif;
}

#container {
    width: 100%;
    margin: auto;
		/* background-color: green; */

}

/* -------------  Header Styles --------------- */

header {
    background-color: rgb(51, 51, 51);
		height: 100px;
}

header h1 {
    font-family: 'Libre Baskerville', serif;
    letter-spacing: .15em;
    font-size: 2em;
    color: rgb(176, 176, 176);
    font-weight: bold;
		padding: 20px;
}

nav {
	font-family: 'Libre Baskerville', serif;
  background-color: rgb(51, 51, 51);
	text-align: center;
	width: 100%;
	padding-top: 0px;
	padding-bottom: 20px;
}

details {
    color: rgb(176, 176, 176);
}

/* ----------------- Main Styles ----------------- */
  #about figure{
	/*float: left;*/
	width: 100%;
	text-align: center;
	font-style: italic;
	font-size: smaller;
	margin: 0.5em;
	padding: 0.5em;
	position: relative;
}
#about figure img{
	width: 75%;
}
#about .image-caption-text{
	margin-top: 10px;
  margin-left: -30px;
}

figure figcaption{
	position: relative;
	color: rgb(91, 91, 91);
	float: center;
	font-style: italic;
	font-size: 1.125em;
	text-align: center;
	width: 300px;
}

#about, aside {
	padding: 20px 0;
	/*float: left;*/
}

#about {
	/* background-color: rgb(218, 218, 218); */
	font-family: 'Libre Baskerville', serif;
	width: 85%;
	padding: 10%;
}

#about h3 {
	color: rgb(51, 51, 51);
	font-size: 1.5em;
	font-weight: bold;
	padding: 15px 0;
	text-align: center;
}

p{
	line-height: 1.25em;
	padding-top: 10px;
	width: 100%;
	text-align: center;
}


aside {
	/* background-color: rgb(218, 218, 218); */
	font-family: 'Libre Baskerville', serif;
	width: 80%;
	padding: 2%;
	height: 800px;
}

aside h2 {
	color: rgb(51, 51, 51);
	font-family: 'Libre Baskerville', serif;
	font-size: 1.5em;
	font-weight: bold;
	padding-bottom: 15px;
}

aside figure img{
	width: 100%;
	/*padding-left: 75px;*/
	padding-top: 30px;
	padding-bottom: 7px;
}

footer {
	padding: 150px;
	background-color: rgb(51, 51, 51);
	clear: both;
}

footer h2 {
	color: white;
	font-style: italic;
	font-size: 1.15em;
	text-align: center;
	font-family:'Libre Baskerville', serif;
}




@media screen and  (min-width: 675px){
	body{
		background-color: aliceblue;
		color: red;
	}


}
@media screen and  (min-width: 999px){
	body{
		background-color: pink;
		color: red;
	}


}

@media screen and  (min-width: 1280px){
	body{
		background-color: burlywood;
		color: red;
	}


}

@media screen and  (max-width: 1080px){
	header h1{
		color: red;
	}


}

@media screen and  (max-width: 550px){
	header h1{
		color: green;
	}


}
@media screen and  (max-width: 400px){
	header h1{
		color: orangered;
	}


}

@media screen and  (max-width: 960px) and (min-width: 715px){
	#about p{
		font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
	}


}
